
body{
    overflow-x: hidden
}
.projetos {
    margin-top: 100px;
    margin-bottom: 100px;
}

#projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 200px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    background-color: rgb(41, 41, 41);
    color: black;
    text-align: center;
    padding-top: 6px;
    color: white;


}
.title-projetos{
    text-align: center;
    position: relative;
    top:150px;
}

.navbar{
    height: 80px;
    
    
    

    .navbar-brand{
        
        font-size: 30px;
        font-family: monospace;
        font-weight: 600;

        
    }

    span{
        color: rgb(151, 151, 151);
    }
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(15px);
    opacity: 0;
    transition: 2s ease;

}
.texto{

    margin-top: 150px;

    margin-right: 60px;


    h2{
        text-align: center;
        margin-top: 40px;
    }
    p {
        margin-top: 30px;
        text-align: justify;
        font-size: 16px;
        padding-right: 40px;
        
        
    

    }
}
.img {

    margin-top: 215px;
    margin-right: 50px;
    padding:0px 0px 0px 40px;


img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 50%;
    border:1px solid #0c0c0c;
}
}
@keyframes nome-aparece {

    0%{
        transform: translateX(100px);
        filter: blur(10px);
        
    }

    100%{
        transform: translateX(0);
        filter: blur(0px);

    }
    
}  
@keyframes nome-aparece2{

    0%{
        transform: translateX(-100px);
        filter: blur(10px);
        
    }

    100%{
        transform: translateX(0);
        filter: blur(0px);
        


    }
    
}

.meu-nome {
    animation: 1s ease nome-aparece;
}
.contrate{
    animation: 1s ease nome-aparece2;
}
@media( max-width: 800px) {

    .sobre{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        

        .texto h2 {


            text-align: center;
          
        }
        
    }
    .texto p {
        transform: translateX(40px);
    }
    
}

.show{
    filter: blur(0);
    transition: 2s ease;
    opacity: 1;
}


